<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li class="active">{{product.name}}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->

      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
            <div class="product-preview">
              <img [src]="product.medicineImage" alt="">
            </div>
        
         
        </div>
      </div>
      
      <!-- /Product main img -->


      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{product.name}}</h2>

          <div>
            <h3 class="product-price">{{product.price | currency:'Rs. '}}</h3>
            <span class="product-available">In Stock</span>
          </div>
          <p>
            {{product.description}}
          </p>

         <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number" [max]="product?.stockquantity > 0 ? product?.stockquantity : 0" min="1"
                readonly
                #stockquantity
                value="{{product?.stockquantity > 0 ? 1: 0}}"
                >
                <span class="qty-up" (click)="Increase()">+</span>
                <span class="qty-down" (click)="Decrease()">-</span>
              </div>
            </div>
            <button class="add-to-cart-btn" (click)="addToCart(product?.id)"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
          </div>

         

      
         
        </div>
      </div>
      <!-- /Product details -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
